name: Continuous Delivery

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write

jobs:
  test:
    uses: ./.github/workflows/python-app.yml

  build_and_push:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5

      - name: Log in to Docker Hub
        uses: docker/login-action@v4
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          file: ./docker/Dockerfile_prod
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/devops:${{ github.ref_name }}

      - name: Deploy Microblog via Ansible
        uses: appleboy/ansible-action@v0.0.5
        with:
          playbook: ./ansible/tasks.yml        # Path to your Ansible task/playbook
          inventory: ./ansible/inventory       # Path to your inventory
          extra_vars: |
            microblog_version=${{ github.ref_name }}-prod
