name: Deploy microblog

on:
  workflow_run:
    workflows: ["Continuous Delivery"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        ansible-galaxy collection install azure.azcollection --force
        make install-deploy
  
 
    - name: Setup SSH 
      run: |
        eval `ssh-agent -s`
        mkdir -p /home/runner/.ssh/
        touch /home/runner/.ssh/id_rsa
        echo -e "${{ secrets.SSH_PRIVATE_KEY }}" > /home/runner/.ssh/id_rsa
        chmod 700 /home/runner/.ssh/id_rsa

    - name: Extract version from workflow trigger
      id: version
      run: |
        TAG_NAME="${{ github.event.workflow_run.head_branch }}"
        echo "DOCKER_TAG=$TAG_NAME" >> $GITHUB_ENV

    - name: Run playbook
      run: cd ansible/ && ansible-playbook gather_instances.yml microblog.yml --extra-vars "microblog_version=${{ env.DOCKER_TAG }}"
      env:
        ANSIBLE_HOST_KEY_CHECKING: "False"
